@mixin font($font){
    font-family: $font;
}
@font-face {
    font-family: "Anybody";
    src: url('assets/font/Anybody/Anybody-VariableFont_wdth_wght.ttf');
}
@font-face {
    font-family: "Inter";
    src: url('assets/font/Inter/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
    font-family: "Mulish";
    src: url('assets/font/Mulish/Mulish-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Work Sans";
    src: url('assets/font/Work_Sans/WorkSans-VariableFont_wght.ttf');
}
