$fontAnybody: "Anybody";
$fontInter: "Inter";
$fontMulish: "Mulish";
$fontWorksans: "Work Sans";
$max-width-homepage: 1440px;
$primary-green: #20A049;
$primary-coral-50: #EA6B39;
$dark-01: #323338;
$dark-02:  #535959;
$dark-03: #9AA0A0;
$light-04: #FAFAFC;
$dark-04: #E0E0E0;
$dark-blue-01: #060810;
$footer-color: #DDE1E6;
$footer-background-color: #060810;
$state-warning-01: #F5AF0B;
$closemodal: #EA6B39;
$closemodalborder: #F1553B;
$padding: 0 112px;
$image-slide-button-left: 120px;