@import "font";
@import "variable";
@import "mixin";
img{
    width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
}
input,textarea{
    border: 1px solid $dark-03;
}

// banner
.banner{
   @include banner;
}

// filter
.filters-container{
   @include filter;
   .filters-content{
    .row{
        .all{
            .single-menu{
                .title-wrap{
                    @include ourservice-item;
                }
            }
        }
    }
   }
}

// pagination
.pagination{
    height: 39px;
    display: flex;
    width: 390px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
    img{
        width: 22px;
        height: 22px;
    }
    div{
        display: flex;
        column-gap: 9px;
        align-items: center;
        a{
            text-decoration: none;
            width: 38px;
            height: 38px;
            border-radius: 4px;
            line-height: 38px;
            background-color: $dark-04;
            text-align: center;
            color: $dark-blue-01;
            transition: 0.3s;
            &:hover{
                background-color: $dark-blue-01;
                color: $dark-04;
            }
        }
    }

}


@media screen and (max-width:991px){
    .filters-container{
        padding-left: 10px;
        padding-right: 10px;
        .filters-content{
            .row{
                .all{
                    max-width: 50%;
                    .single-menu{
                        .tittle-wrap{

                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:575px){
    .filters-container{
        padding-left: 10px;
        padding-right: 10px;
        .filters-wrap{
            #all-responsive{
                display: none;
            }
        }
        .filters-content{
            .row{
                .all{
                    max-width: 100%;
                    .single-menu{
                        .tittle-wrap{
                            
                        }
                    }
                }
            }
        }
    }
}