img {
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
}

input, textarea {
  border: 1px solid #9AA0A0;
}

.banner {
  height: 540px;
  max-width: 1440px;
  margin: auto;
  position: relative;
}
.banner img {
  max-height: 477px;
}
.banner div {
  height: 326px;
  padding: 0 112px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #060810;
  max-width: 703px;
  padding-top: 39px;
  padding-bottom: 39px;
}
.banner div p {
  font-family: "Inter";
  color: #E0E0E0;
}
.banner div h1 {
  font-family: "Anybody";
  font-weight: bold;
  color: #20A049;
}
.banner div h4 {
  font-family: "Anybody";
  color: #E6E9EF;
}

.article {
  max-width: 1440px;
  margin: auto;
  padding: 0 112px;
  padding-top: 0 112px;
  padding-bottom: 0 112px;
  height: 456px;
  margin-top: 50px;
}
.article .container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.article .container a {
  width: 25px;
  height: 100px;
  background-color: #F5AF0B;
  margin-top: 10px;
}
.article .container div h1 {
  font-family: "Anybody";
  font-weight: bold;
  color: #060810;
}
.article .container div p:first-of-type {
  font-family: "Anybody";
  font-weight: bold;
  font-size: 60px;
  color: #20A049;
}
.article .container div p:last-of-type {
  font-family: "Anybody";
}

.aboutus-content1 {
  height: 1217px;
  margin: auto;
  max-width: 1440px;
  position: relative;
}
.aboutus-content1 .head {
  height: 567px;
  padding: 0 112px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
.aboutus-content1 .head div {
  flex: 1;
}
.aboutus-content1 .head div p:last-of-type {
  margin-top: 16px;
}
.aboutus-content1 .center {
  position: absolute;
  left: 112px;
  top: 470px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.aboutus-content1 .center .item {
  position: relative;
  background-color: #20A049;
  width: 312px;
  height: 314px;
  padding-top: 77px;
  padding-left: 30px;
}
.aboutus-content1 .center .item h4 {
  font-family: "Anybody";
  color: #E1FAE4;
}
.aboutus-content1 .center .item h2 {
  font-family: "Anybody";
  color: #E1FAE4;
  font-weight: bold;
}
.aboutus-content1 .center .item img {
  width: 86px;
  height: 86px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.aboutus-content1 .center .item2, .aboutus-content1 .center .item4 {
  background-color: #535959;
}
.aboutus-content1 .center .item3 {
  background-color: #F1553B;
}
.aboutus-content1 .center .item5 {
  background-color: #F5AF0B;
}
.aboutus-content1 .bottom {
  height: 650px;
  position: relative;
}
.aboutus-content1 .bottom p {
  position: absolute;
  max-width: 562px;
  right: 112px;
  top: 80px;
  font-family: "Inter";
  font-size: 16px;
}

.aboutus-content2 {
  padding: 0 112px;
  margin: auto;
  max-width: 1440px;
  margin-top: 80px;
}
.aboutus-content2 .head {
  height: 441px;
  display: flex;
}
.aboutus-content2 .head .left {
  flex: 1;
  position: relative;
  background-color: #04150A;
  padding: 46px 27px;
}
.aboutus-content2 .head .left h1 {
  font-family: "Anybody";
  font-weight: bold;
  color: #20A049;
}
.aboutus-content2 .head .left p {
  color: #9AA0A0;
  font-family: "Inter";
  margin-top: 32px;
}
.aboutus-content2 .head .left img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.aboutus-content2 .head .right {
  flex: 1;
  background-color: #20A049;
  position: relative;
  padding: 46px 27px;
}
.aboutus-content2 .head .right h1 {
  font-family: "Anybody";
  font-weight: bold;
  color: #57EBA1;
}
.aboutus-content2 .head .right h2 {
  font-family: "Anybody";
  font-weight: bold;
  color: #060810;
}
.aboutus-content2 .head .right img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.aboutus-content2 .bottom {
  display: flex;
  height: 328px;
}
.aboutus-content2 .bottom .left {
  flex: 1;
  background-color: #CE6035;
  color: #FAFAFC;
  padding: 46px 27px;
}
.aboutus-content2 .bottom .left h1 {
  font-family: "Anybody";
  font-weight: bold;
}
.aboutus-content2 .bottom .left p {
  font-family: "Inter";
  margin-top: 32px;
}
.aboutus-content2 .bottom .right {
  flex: 2;
}

#section-counter {
  margin-top: 80px;
}

.ourexpertise {
  text-align: center;
  height: 156px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.ourexpertise h1 {
  color: #20A049;
  font-weight: bold;
  font-family: "Anybody";
}
.ourexpertise p {
  max-width: 552px;
  font-family: "Inter";
}
.ourexpertise p:first-of-type {
  color: #EA6B39;
  font-weight: 600;
}
.ourexpertise p:last-of-type {
  color: #9AA0A0;
}

.slide {
  max-width: 1440px;
  margin: auto;
  padding: 0 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.slide .item {
  text-align: center;
}
.slide .item a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #20A049;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.slide .item h6 {
  font-family: "Anybody";
  font-weight: bold;
  color: #060810;
  margin-top: 20px;
}
.slide .item p {
  font-family: "Inter";
  font-size: 14px;
  color: #EA6B39;
}

.ourclients {
  max-width: 1440px;
  margin: auto;
  padding: 0 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.ourclients .left {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.ourclients a {
  width: 5px;
  height: 120px;
  background-color: #F5AF0B;
  margin-right: 10px;
}
.ourclients .right p {
  font-family: "Inter";
}
.ourclients .right p:first-of-type {
  color: #EA6B39;
}
.ourclients .right p:last-of-type {
  color: #9AA0A0;
}
.ourclients .right h1 {
  font-family: "Anybody";
  font-weight: bold;
  color: #20A049;
}